.shelby--landing {
  background: #f8f8f8;
}

.shelby__header {
  background: #222;
}

.shelf {
  text-align: center;
  margin: 5em 0 0;
}
  .shelf .button_primer {
    position: relative;
    display: inline-block;
  }

  .shelf .form_module {
    font-size: 1.1em;
    margin: 3em auto;
  }

  .shelf .form_fieldset {
    font-size: 1.5em;
  }

  .shelf .form_checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -0.5em 0 0 0.5em;
  }

/*
    .shelf--init {
    }
*/
/*
    .shelf--enter_name {
    }
*/      .shelf--enter_name .form_module {
          text-align: left;
          width: 500px;
        }
/*
    .shelf--start_tuning {
    }
*/

/*
    .shelf--news {}
    .shelf--news_interstitial {}
    .shelf--sports {}
    .shelf--sports_interstitial {}
    .shelf--comedy {}
    .shelf--comedy_interstitial {}
    .shelf--gaming {}
    .shelf--gaming_interstitial {}
    .shelf--pop-culture {}
    .shelf--pop-culture_interstitial {}
    .shelf--science {}
    .shelf--science_interstitial {}
*/


/*
    .shelf--time {
    }
*/
        .shelf--time .time-input {
          font-size: 3em;
          margin: 0 auto;
          width: 300px;
        }

        .shelf--time .time-input input {
          width: 90px;
        }

/*
    .shelf--complete {}
*/
        .shelf--complete .form_module {
          text-align: left;
          width: 600px;
        }

        .shelf--complete .avatar {
          height: 150px;
          width: 150px;
          margin-top: 2.5em;
          margin-right: 3em;
        }

.shelf__block {
  color: #333;
}
