.shelby--landing {
  background: #f8f8f8;
}

.shelby__header {
  background: #222;
}

.shelf {
  text-align: center;
  margin: 5em 0 0;
}
    .shelf--init {

    }
    .shelf--enter_name {

    }
    .shelf--enter_name .form_module {
      font-size: 1.8em;
      margin: 3em auto;
      text-align: left;
      width: 500px;
    }

.shelf__block {
  color: #333;
}
